/* container>>
:display>active-display

:buttons>buttons-row*/
* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    /* background-color:#2fc44f; */
    background-color: rgb(50, 50, 50);
    height: 600px;
    width: 360px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    border-style: none;
    border-radius: 8px;
    filter: drop-shadow(0px 0px 20px red);

}

.display {
    /* background-color: red; */
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: right;

    flex-wrap: wrap;
    max-width: 360px;
}

.active-display {
    /* background-color: orange; */
    font-size: 36px;
    max-width: 360px;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: right;
    padding-right: 20px;
    padding-top: 20px;
}

.buttons {
    /* background-color: #2f61c4; */
    flex-grow: 3;
    display: flex;
    flex-direction: column;

    gap: 10px;
    padding: 10px;
}

.buttons-row {
    /* background-color: aqua; */
    display: flex;
    flex-grow: 1;

    gap: 10px;
}

button {
    /* background-color: aquamarine; */
    background-color: rgb(15, 15, 15);
    flex-grow: 1;
    flex-basis: 25%;

    font-size: 24px;
    border-style: none;
    border-radius: 5px;
}

button:hover {
    /* background-color: #4a4949; */
    background-color: rgb(115, 115, 115);
}
button:active {
    /* background-color: rgb(99, 189, 159); */
    background-color: rgb(95, 95, 95);
}