/* container>>
:display>active-display

:buttons>buttons-row*/
* {
    font-family: Arial, Helvetica, sans-serif;
    /* color: white; */

}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 600px;
    width: 360px;
    background-color:#2fc44f;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.display {
    background-color: red;
    font-size: 40px;
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: right;

    max-width: 360px;
}

.active-display {
    background-color: orange;
    margin-right: 20px;
}

.buttons {
    background-color: #2f61c4;
    flex-grow: 3;
    display: flex;
    flex-direction: column;

    background-color: #9d3190;
    gap: 10px;
    padding: 10px;
}

.buttons-row {
    background-color: aqua;
    display: flex;
    flex-grow: 1;

    gap: 10px;
}

button {
    background-color: aquamarine;
    flex-grow: 1;
    flex-basis: 25%;

    font-size: 24px;
    border-style: none;
}

button:hover {
    background-color: #4a4949;
}
button:active {
    background-color: rgb(99, 189, 159);
}